.FilterDiv {
    text-align: center;
}

.FilterList {
    padding: 0;
    margin: 5px;
    list-style: none;
    height: 100%;
    display: inline-block;
    text-align: center;

}

.FilterList > li > button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
    margin: 5px;
    border: 2px solid black;
}

.SubjectSelectUW{
    min-width: 50px;
}

.SubjectSelectUW select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 0.75rem;
    padding: 0.4em 1em 0.4em 1em;
    background-color: var(--SecondaryUWColor);
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0.25rem;
    color: var(--DarkUWColor);
    cursor: pointer;
}

.YearSelectUW{
    min-width: 50px;
}

.YearSelectUW select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 0.75rem;
    padding: 0.4em 1em 0.4em 1em;
    background-color: var(--SecondaryUWColor);
    border: none;
    margin-top: 5px;
    
    border-radius: 0.25rem;
    color: var(--DarkUWColor);
    cursor: pointer;
}